@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body{
    font-family: 'Domine', sans-serif;
    font-size: 25px; 
}

/* Header */
.header, .footer {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-weight: bold;
    color: #999999;
}

h3.text-muted a {
    text-decoration: none;
    color: #999999;
}
h3.text-muted a:hover {
    text-decoration: none;
    color: #4e2a84;
}

.sub {
    font-size: 20px;
    color: #4e2a84;
}

/* Content */
.content {
    margin-top: 40px;
}

.img-rounded {
    border-radius: 20px;
    height: 95%;
    width: 95%;
}

img {
    border: 0;
}

.avatar_side {
    padding-left: 20px;
}

.content p.lead {
    font-size: 20px;
    line-height: 30px;
}

.content p {
    font-family:'Domine';
    font-size: 18px;
}

/* Icon */
.logo {
    margin-bottom: 10px;
}

.icon {
    width: 30%;
}

.icon_group {
    padding-left: 40px;
    width: 200px;
}

/* Footer */
.footer {
    border-top: 1px solid #e5e5e5;
    font-size: 17px;
}

p.fabout a {
    color: #4e2a84;
}

p.fabout a:hover {
    text-decoration: none;
    color: #999999;
}

/* About */
.about {
    font-family: 'Domine';
    font-size: 18px;
    line-height: 30px;
    margin: 20px;
}

.about a {
    color: #4e2a84;
}

.about a:hover {
    text-decoration: none;
    color: #999999; 
}

/* Northwestern */ 
.northwestern {
    margin: 20px;
    padding-left: 40px;
}